<div class="col-md-8">
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="api_key">API Key</label>
                <input type="text" class="form-control" id="api_key" placeholder="Your API Key">
            </div>
            <div class="form-group col-md-6">
                <label for="secrets_key">Secrets Key</label>
                <input type="text" class="form-control" id="secrets_key" placeholder="Your Secrets Key">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
    </form>
</div>